In [2]:
import numpy as np
import pandas as pd
import tushare as ts

In [5]:
#!/usr/bin/env python
# coding:utf-8

"""
function:
@author: zkang kai
@contact: 474918208@qq.com
"""

import numpy as np
import pandas as pd
import tushare as ts


def CalHighAnaLow(stk_data):
    '''
    根据传入的dataframe计算股票的高低点
    '''


    '''计算内移日'''
    temp_data = stk_data

    while(1):
        index = ( temp_data.high <= temp_data.high.shift(1)) & ( temp_data.low >= temp_data.low.shift(1) )

        stk_data['neiyiri'] = index 
        stk_data = stk_data.fillna(True)
        if index.any() == False:
            break;
        
        temp_data = stk_data[ stk_data['neiyiri'] == False ]


    '''计算外移日'''
    temp_data = stk_data
    index = (temp_data.high <= temp_data.high.shift(-1)) & (temp_data.low >= temp_data.low.shift(-1))
    stk_data['waiyiri'] = index 

    '''计算短期高低点'''
    temp_data = stk_data[ stk_data['neiyiri'] == False ]
    index = (temp_data.high >= temp_data.high.shift(1) ) & (temp_data.high >= temp_data.high.shift(-1) )
    index1 = (temp_data.low <= temp_data.low.shift(1) ) & (temp_data.low <= temp_data.low.shift(-1) )
    stk_data['first_high'] = index
    stk_data['first_low'] = index1

    '''计算中期高低点'''
    temp_data = stk_data[ stk_data['first_high'] == True ]
    index = (temp_data.high >= temp_data.high.shift(1) ) & (temp_data.high >= temp_data.high.shift(-1) )
    temp_data = stk_data[ stk_data['first_low'] == True ]
    index1 = (temp_data.low <= temp_data.low.shift(1) ) & (temp_data.low <= temp_data.low.shift(-1) )
    stk_data['second_high'] = index
    stk_data['second_low'] = index1

    '''计算长期高低点'''
    temp_data = stk_data[ stk_data['second_high'] == True ]
    index = (temp_data.high >= temp_data.high.shift(1) ) & (temp_data.high >= temp_data.high.shift(-1) )
    temp_data = stk_data[ stk_data['second_low'] == True ]
    index1 = (temp_data.low <= temp_data.low.shift(1) ) & (temp_data.low <= temp_data.low.shift(-1) )
    stk_data['third_high'] = index
    stk_data['third_low'] = index1

    return stk_data

def ShowInfo(stk_data,cycle):
    '''
    输出不同周期高低点的情况
    '''

    number = len(stK_data)

    for i in range(number):
        
        if stk_data['first_high'].iat[i] == True:
            print("%s 形成短期高点,最高点为 %d")

In [10]:
temp = ts.get_k_data(code='000001',start='2010-01-01',end='',ktype='D',autype='qfq',index=True)

In [12]:
temp = CalHighAnaLow(temp)

In [13]:
temp_data.tail()

,date,open,close,high,low,volume,code,neiyiri,waiyiri,first_high,first_low,second_high,second_low,third_high,third_low
2088,2018-08-06,2736.53,2705.16,2760.47,2692.32,129753058.0,sh000001,False,False,False,True,NaN,True,NaN,False
2089,2018-08-07,2711.74,2779.37,2779.37,2696.04,149579743.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2090,2018-08-08,2771.13,2744.07,2779.91,2741.07,147688715.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN
2091,2018-08-09,2729.58,2794.38,2801.66,2726.22,151660333.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
2092,2018-08-10,2791.40,2795.31,2806.11,2777.51,121532232.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN

In [14]:
temp_high = temp[ temp['third_high'] == True ]

num = len(temp_high)
for i in range(num):
    print(" %s 形成股票高点,最高点为 %d" % (temp_high['date'].iat[i], temp_high['high'].iat[i]))
    #print(s1.iat[0] + "形成股票高点,最高点为" + (temp_high.high[i]))

 2010-04-15 形成股票高点,最高点为 3181
 2010-11-11 形成股票高点,最高点为 3186
 2011-04-18 形成股票高点,最高点为 3067
 2011-07-18 形成股票高点,最高点为 2826
 2011-11-04 形成股票高点,最高点为 2536
 2012-02-27 形成股票高点,最高点为 2478
 2013-02-18 形成股票高点,最高点为 2444
 2013-05-29 形成股票高点,最高点为 2334
 2013-09-12 形成股票高点,最高点为 2270
 2013-12-04 形成股票高点,最高点为 2260
 2014-02-20 形成股票高点,最高点为 2177
 2014-04-10 形成股票高点,最高点为 2146
 2014-05-13 形成股票高点,最高点为 2061
 2014-10-09 形成股票高点,最高点为 2391
 2015-06-12 形成股票高点,最高点为 5178
 2015-11-17 形成股票高点,最高点为 3678
 2015-12-23 形成股票高点,最高点为 3684
 2016-04-13 形成股票高点,最高点为 3097
 2016-08-16 形成股票高点,最高点为 3140
 2016-11-29 形成股票高点,最高点为 3301
 2017-04-07 形成股票高点,最高点为 3295
 2017-09-14 形成股票高点,最高点为 3391
 2017-10-09 形成股票高点,最高点为 3410
 2018-01-29 形成股票高点,最高点为 3587
 2018-04-11 形成股票高点,最高点为 3220

In [17]:
num = len(temp_data)
for i in range(1,num):
    if temp_data['third_high'].iat[i] == True and temp_data['third_high'].iat[i-1] == True:
        print("%s 连续两个高点" % temp_data['date'].iat[i])
    
    if temp_data['third_low'].iat[i] == True and temp_data['third_low'].iat[i-1] == True:
        print("%s 连续两个低点" % temp_data['date'].iat[i])
    
    if temp_data['third_high'].iat[i] == True and temp_data['third_low'].iat[i] == True:
        print("%s 同时出现高低点" % temp_data['date'].iat[i])

In [189]:
num = len(temp_data)
for i in range(num):
    if temp_data['third_high'].iat[i] == True:
        print("%s 出现高点" % temp_data['date'].iat[i])
    if temp_data['third_low'].iat[i] == True:
        print("%s 出现低点" % temp_data['date'].iat[i])

2010-02-03 出现低点
2010-04-15 出现高点
2010-05-21 出现低点
2010-07-02 出现低点
2010-08-13 出现低点
2010-11-11 出现高点
2011-01-25 出现低点
2011-04-18 出现高点
2011-07-18 出现高点
2011-08-09 出现低点
2011-11-04 出现高点
2012-01-06 出现低点
2012-02-27 出现高点
2012-09-26 出现低点
2012-12-04 出现低点
2013-02-18 出现高点
2013-05-02 出现低点
2013-05-29 出现高点
2013-06-25 出现低点
2013-09-12 出现高点
2013-12-04 出现高点
2014-01-20 出现低点
2014-02-20 出现高点
2014-03-12 出现低点
2014-04-10 出现高点
2014-05-13 出现高点
2014-05-21 出现低点
2014-10-09 出现高点
2014-10-27 出现低点
2015-02-09 出现低点
2015-06-12 出现高点
2015-07-09 出现低点
2015-08-26 出现低点
2015-11-17 出现高点
2015-12-23 出现高点
2016-01-27 出现低点
2016-04-13 出现高点
2016-05-26 出现低点
2016-06-24 出现低点
2016-08-01 出现低点
2016-08-16 出现高点
2016-09-27 出现低点
2016-11-29 出现高点
2017-01-16 出现低点
2017-04-07 出现高点
2017-05-11 出现低点
2017-08-11 出现低点
2017-09-14 出现高点
2017-10-09 出现高点
2017-12-18 出现低点
2018-01-29 出现高点
2018-02-09 出现低点
2018-04-11 出现高点