In [1]:
import numpy as np
import pandas as pd
import tushare as ts

In [92]:
temp = ts.get_k_data(code='000001',start='2010-01-01',end='',ktype='D',autype='qfq',index=True)

In [266]:
help(np.array)

Help on built-in function array in module numpy.core.multiarray:

array(...)
    array(object, dtype=None, copy=True, order='K', subok=False, ndmin=0)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        __array__ method returns an array, or any (nested) sequence.
    dtype : data-type, optional
        The desired data-type for the array.  If not given, then the type will
        be determined as the minimum type required to hold the objects in the
        sequence.  This argument can only be used to 'upcast' the array.  For
        downcasting, use the .astype(t) method.
    copy : bool, optional
        If true (default), then the object is copied.  Otherwise, a copy will
        only be made if __array__ returns a copy, if obj is a nested sequence,
        or if a copy is needed to satisfy any of the other requirements
        (`dtype`, `order`, etc.).
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=False`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for `A`, see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be pre-pended to the shape as
        needed to meet this requirement.

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty, empty_like, zeros, zeros_like, ones, ones_like, full, full_like

    Notes
    -----
    When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.mat('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.mat('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [49]:
temp.tail(10)

,date,open,close,high,low,volume,code,neiyiri
2063,2018-07-02,2841.58,2775.56,2845.68,2756.81,137035034.0,sh000001,False
2064,2018-07-03,2774.57,2786.89,2786.89,2722.45,142498466.0,sh000001,False
2065,2018-07-04,2776.63,2759.13,2793.18,2754.16,123262181.0,sh000001,False
2066,2018-07-05,2755.34,2733.88,2777.52,2727.94,129226112.0,sh000001,False
2067,2018-07-06,2731.35,2747.23,2768.87,2691.02,136294380.0,sh000001,False
2068,2018-07-09,2752.45,2815.11,2815.79,2752.45,121549309.0,sh000001,False
2069,2018-07-10,2819.71,2827.63,2828.49,2800.62,117062748.0,sh000001,False
2070,2018-07-11,2780.70,2777.77,2794.36,2752.44,126821149.0,sh000001,False
2071,2018-07-12,2771.04,2837.66,2844.19,2771.04,146980200.0,sh000001,False
2072,2018-07-13,2831.43,2831.18,2835.46,2818.85,117689348.0,sh000001,True

In [46]:
temp['neiyiri'] = (temp.high <= temp.high.shift(1)) & (temp.low >= temp.low.shift(1))

In [76]:
temp_data = temp[ temp['neiyiri'] == False ]

False

In [100]:
temp_data = temp
index = (temp_data.high <= temp_data.high.shift(1)) & (temp_data.low >= temp_data.low.shift(1))
temp['neiyiri'] = index
temp = temp.fillna(True)

In [101]:
temp_data = temp
while(1):
    index = (temp_data.high <= temp_data.high.shift(1)) & (temp_data.low >= temp_data.low.shift(1))
    
    temp['neiyiri'] = index 
    temp = temp.fillna(True)
    if index.any() == False:
        break;
    
    temp_data = temp[ temp['neiyiri'] == False ]

In [ ]:
index = (temp_data.high <= temp_data.high.shift(-1)) & (temp_data.low >= temp_data.low.shift(-1))
temp['waiyiri'] = index

In [194]:
s2 = pd.DataFrame([1,2,3])

In [248]:
temp_data = temp[ temp['neiyiri'] == False ]

In [218]:
del temp_data['first_high_confirm']
del temp_data['first_low_confirm']

In [265]:
temp

,date,open,close,high,low,volume,code,neiyiri,waiyiri,first_high,first_low,second_high,second_low,third_high,third_low
0,2010-01-04,3289.750,3243.760,3295.28,3243.32,109447927.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
1,2010-01-05,3254.468,3282.179,3290.51,3221.46,126115066.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
2,2010-01-06,3277.517,3254.215,3295.87,3253.04,123651384.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
3,2010-01-07,3253.991,3192.776,3268.82,3176.71,128652827.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
4,2010-01-08,3177.259,3195.997,3198.92,3149.02,98377147.0,sh000001,False,False,False,True,NaN,True,NaN,False
5,2010-01-11,3301.611,3212.750,3306.75,3197.33,136327216.0,sh000001,False,False,True,False,True,NaN,False,NaN
6,2010-01-12,3205.705,3273.966,3275.20,3180.09,140655241.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
7,2010-01-13,3204.976,3172.658,3232.82,3165.49,158344278.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
8,2010-01-14,3183.381,3215.550,3219.02,3165.60,135954504.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
9,2010-01-15,3217.190,3224.152,3241.82,3197.22,120541135.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
10,2010-01-18,3213.637,3237.098,3238.24,3202.21,135067238.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
11,2010-01-19,3242.216,3246.874,3268.81,3236.84,129943532.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
12,2010-01-20,3252.037,3151.850,3255.13,3148.33,158243112.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
13,2010-01-21,3154.189,3158.863,3176.15,3126.90,114337079.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
14,2010-01-22,3118.724,3128.588,3147.83,3062.63,137758538.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
15,2010-01-25,3103.320,3094.411,3137.00,3092.93,78361862.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
16,2010-01-26,3094.848,3019.394,3107.20,3001.96,93507092.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
17,2010-01-27,3020.540,2986.607,3028.65,2972.63,76552214.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
18,2010-01-28,2985.214,2994.143,3006.04,2963.89,73365767.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
19,2010-01-29,2979.743,2989.292,3024.85,2968.45,80475875.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
20,2010-02-01,2981.374,2941.360,2981.37,2912.89,88147114.0,sh000001,False,True,False,True,NaN,False,NaN,NaN
21,2010-02-02,2955.753,2934.713,2990.75,2930.56,82485789.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN
22,2010-02-03,2945.034,3003.835,3005.13,2890.02,101022537.0,sh000001,False,False,False,True,NaN,True,NaN,True
23,2010-02-04,2983.050,2995.308,3015.13,2968.68,99918364.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
24,2010-02-05,2936.197,2939.402,2959.23,2918.91,97274989.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
25,2010-02-08,2936.452,2935.174,2954.27,2922.19,63299582.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
26,2010-02-09,2932.090,2948.842,2957.47,2929.21,62282207.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
27,2010-02-10,2967.138,2982.500,2983.18,2958.22,55588005.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
28,2010-02-11,2985.082,2985.499,3001.64,2976.08,56646305.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
29,2010-02-12,2996.088,3018.133,3018.86,2993.44,56092124.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,2018-06-01,3084.750,3075.140,3102.09,3059.79,129872199.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2044,2018-06-04,3083.430,3091.190,3098.40,3076.99,114593902.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
2045,2018-06-05,3088.010,3114.210,3114.77,3080.05,118735592.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2046,2018-06-06,3109.170,3115.180,3117.53,3103.53,120196135.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2047,2018-06-07,3121.180,3109.500,3128.72,3105.58,127784970.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2048,2018-06-08,3100.600,3067.150,3100.68,3053.29,134688220.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2049,2018-06-11,3057.340,3052.780,3063.61,3037.91,108563786.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN
2050,2018-06-12,3053.030,3079.800,3081.45,3034.10,113275096.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2051,2018-06-13,3071.460,3049.800,3071.46,3044.12,119607886.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
2052,2018-06-14,3038.070,3044.160,3066.05,3032.41,115469487.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2053,2018-06-15,3037.450,3021.900,3048.80,3008.73,144532571.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2054,2018-06-19,2982.650,2907.820,2984.97,2871.35,230550067.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2055,2018-06-20,2889.980,2915.730,2925.56,2872.16,144301420.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
2056,2018-06-21,2912.000,2875.810,2940.59,2872.62,154378332.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN
2057,2018-06-22,2855.580,2889.760,2891.97,2837.14,126143129.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
2058,2018-06-25,2903.450,2859.340,2908.62,2857.87,121917687.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2059,2018-06-26,2829.990,2844.510,2850.24,2803.79,125918468.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN
2060,2018-06-27,2842.400,2813.180,2854.26,2798.80,129420833.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2061,2018-06-28,2799.900,2786.900,2825.99,2782.45,118357907.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN
2062,2018-06-29,2789.810,2847.420,2848.37,2782.38,125671685.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2063,2018-07-02,2841.580,2775.560,2845.68,2756.81,137035034.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2064,2018-07-03,2774.570,2786.890,2786.89,2722.45,142498466.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
2065,2018-07-04,2776.630,2759.130,2793.18,2754.16,123262181.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2066,2018-07-05,2755.340,2733.880,2777.52,2727.94,129226112.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2067,2018-07-06,2731.350,2747.230,2768.87,2691.02,136294380.0,sh000001,False,False,False,True,NaN,True,NaN,False
2068,2018-07-09,2752.450,2815.110,2815.79,2752.45,121549309.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2069,2018-07-10,2819.710,2827.630,2828.49,2800.62,117062748.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2070,2018-07-11,2780.700,2777.770,2794.36,2752.44,126821149.0,sh000001,False,False,False,True,NaN,False,NaN,NaN
2071,2018-07-12,2771.040,2837.660,2844.19,2771.04,146980200.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN
2072,2018-07-13,2831.430,2831.180,2835.46,2818.85,117689348.0,sh000001,True,False,NaN,NaN,NaN,NaN,NaN,NaN

In [302]:
temp_data = temp[ temp['neiyiri'] == False ]
num = len(temp_data)
#temp_data = temp_data.assign(first_high_confirm = np.nan)
#temp_data = temp_data.assign(first_low_confirm = np.nan)

In [315]:
s3 = pd.DataFrame(index=temp_data.index,columns=['first_high_confirm','first_low_confirm'])

In [316]:
for i in range(num-1):
    if temp_data['first_high'].iat[i] == True:
        s3.iat[i,0] = temp_data.iat[i+1,0]
        #s3['first_high_confirm'] = temp_data.loc[i+1,'date']
        
    if temp_data['first_low'].iat[i] == True:
        s3.iat[i,1] = temp_data.iat[i+1,0]
        #temp_data.loc[i,'first_low_confirm'] = temp_data.loc[i+1,'date']

In [317]:
pd.concat([temp_data,s3],axis=1)

,date,open,close,high,low,volume,code,neiyiri,waiyiri,first_high,first_low,second_high,second_low,third_high,third_low,first_low_confirm,first_high_confirm,first_high_confirm,first_low_confirm
0,2010-01-04,3289.750,3243.760,3295.28,3243.32,109447927.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-05,3254.468,3282.179,3290.51,3221.46,126115066.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,2010-01-06,NaN,NaN,2010-01-06
2,2010-01-06,3277.517,3254.215,3295.87,3253.04,123651384.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,2010-01-07,2010-01-07,NaN
3,2010-01-07,3253.991,3192.776,3268.82,3176.71,128652827.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-08,3177.259,3195.997,3198.92,3149.02,98377147.0,sh000001,False,False,False,True,NaN,True,NaN,False,2010-01-11,NaN,NaN,2010-01-11
5,2010-01-11,3301.611,3212.750,3306.75,3197.33,136327216.0,sh000001,False,False,True,False,True,NaN,False,NaN,NaN,2010-01-12,2010-01-12,NaN
6,2010-01-12,3205.705,3273.966,3275.20,3180.09,140655241.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010-01-13,3204.976,3172.658,3232.82,3165.49,158344278.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2010-01-15
9,2010-01-15,3217.190,3224.152,3241.82,3197.22,120541135.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2010-01-19,3242.216,3246.874,3268.81,3236.84,129943532.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2010-01-20,NaN
12,2010-01-20,3252.037,3151.850,3255.13,3148.33,158243112.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2010-01-21,3154.189,3158.863,3176.15,3126.90,114337079.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010-01-22,3118.724,3128.588,3147.83,3062.63,137758538.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2010-01-26,3094.848,3019.394,3107.20,3001.96,93507092.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2010-01-27,3020.540,2986.607,3028.65,2972.63,76552214.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2010-01-28,2985.214,2994.143,3006.04,2963.89,73365767.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2010-01-29
19,2010-01-29,2979.743,2989.292,3024.85,2968.45,80475875.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2010-02-01,NaN
20,2010-02-01,2981.374,2941.360,2981.37,2912.89,88147114.0,sh000001,False,True,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2010-02-02
21,2010-02-02,2955.753,2934.713,2990.75,2930.56,82485789.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2010-02-03,2945.034,3003.835,3005.13,2890.02,101022537.0,sh000001,False,False,False,True,NaN,True,NaN,True,NaN,NaN,NaN,2010-02-04
23,2010-02-04,2983.050,2995.308,3015.13,2968.68,99918364.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2010-02-05,NaN
24,2010-02-05,2936.197,2939.402,2959.23,2918.91,97274989.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2010-02-10
27,2010-02-10,2967.138,2982.500,2983.18,2958.22,55588005.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2010-02-11,2985.082,2985.499,3001.64,2976.08,56646305.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2010-02-12,2996.088,3018.133,3018.86,2993.44,56092124.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2010-02-22,3016.703,3003.398,3026.66,3002.81,68505143.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2010-02-23,NaN
31,2010-02-23,2998.907,2982.575,2998.91,2938.75,80392858.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2010-02-24
32,2010-02-24,2964.984,3022.177,3023.74,2955.07,92918962.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2010-02-25,3026.656,3060.618,3063.00,3022.37,119670781.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2010-02-26,3053.498,3051.943,3067.53,3041.69,101296291.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,2018-05-25,3148.410,3141.300,3156.73,3131.07,128610843.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2039,2018-05-28,3136.810,3135.080,3149.66,3115.96,128755918.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2040,2018-05-29,3129.620,3120.460,3143.21,3112.15,135717800.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2041,2018-05-30,3081.140,3041.440,3085.40,3041.00,155115126.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2018-05-31
2042,2018-05-31,3061.830,3095.470,3098.08,3054.27,140475532.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2043,2018-06-01,3084.750,3075.140,3102.09,3059.79,129872199.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2045,2018-06-05,3088.010,3114.210,3114.77,3080.05,118735592.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2046,2018-06-06,3109.170,3115.180,3117.53,3103.53,120196135.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2047,2018-06-07,3121.180,3109.500,3128.72,3105.58,127784970.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-06-08,NaN
2048,2018-06-08,3100.600,3067.150,3100.68,3053.29,134688220.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,2018-06-11,3057.340,3052.780,3063.61,3037.91,108563786.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,2018-06-12,3053.030,3079.800,3081.45,3034.10,113275096.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-06-14,NaN
2052,2018-06-14,3038.070,3044.160,3066.05,3032.41,115469487.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2053,2018-06-15,3037.450,3021.900,3048.80,3008.73,144532571.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2054,2018-06-19,2982.650,2907.820,2984.97,2871.35,230550067.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2057,2018-06-22,2855.580,2889.760,2891.97,2837.14,126143129.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2018-06-25
2058,2018-06-25,2903.450,2859.340,2908.62,2857.87,121917687.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-06-26,NaN
2059,2018-06-26,2829.990,2844.510,2850.24,2803.79,125918468.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2060,2018-06-27,2842.400,2813.180,2854.26,2798.80,129420833.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-06-28,NaN
2061,2018-06-28,2799.900,2786.900,2825.99,2782.45,118357907.0,sh000001,False,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2062,2018-06-29,2789.810,2847.420,2848.37,2782.38,125671685.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-07-02,NaN
2063,2018-07-02,2841.580,2775.560,2845.68,2756.81,137035034.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2064,2018-07-03,2774.570,2786.890,2786.89,2722.45,142498466.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2018-07-04
2065,2018-07-04,2776.630,2759.130,2793.18,2754.16,123262181.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-07-05,NaN
2066,2018-07-05,2755.340,2733.880,2777.52,2727.94,129226112.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2067,2018-07-06,2731.350,2747.230,2768.87,2691.02,136294380.0,sh000001,False,False,False,True,NaN,True,NaN,False,NaN,NaN,NaN,2018-07-09
2068,2018-07-09,2752.450,2815.110,2815.79,2752.45,121549309.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2069,2018-07-10,2819.710,2827.630,2828.49,2800.62,117062748.0,sh000001,False,False,True,False,False,NaN,NaN,NaN,NaN,NaN,2018-07-11,NaN
2070,2018-07-11,2780.700,2777.770,2794.36,2752.44,126821149.0,sh000001,False,False,False,True,NaN,False,NaN,NaN,NaN,NaN,NaN,2018-07-12
2071,2018-07-12,2771.040,2837.660,2844.19,2771.04,146980200.0,sh000001,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [262]:
temp_data = temp[ temp['first_high'] == True ]

In [264]:
num = len(temp_data)
for i in range(num-1):
    if temp_data['second_high'].iat[i] == True:
        temp_data.loc[i,'second_high_confirm'] = temp_data['first_high_confirm'].iat[i+1]
        
    if temp_data['second_low'].iat[i] == True:
        temp_data.loc[i,'second_low_confirm'] = temp_data['first_low_confirm'].iat[i+1]

KeyError: 'first_high_confirm'

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [229]:
index = (temp_data.high >= temp_data.high.shift(1) ) & (temp_data.high >= temp_data.high.shift(-1) )

In [230]:
index1 = (temp_data.low <= temp_data.low.shift(1) ) & (temp_data.low <= temp_data.low.shift(-1) )

In [231]:
temp['first_high'] = index
temp['first_low'] = index1

In [153]:
temp_data = temp[ temp['third_high'] == True ]

In [154]:
temp_data.tail(20)

,date,open,close,high,low,volume,code,neiyiri,waiyiri,first_high,first_low,second_high,second_low,third_high,third_low
519,2012-02-27,2447.41,2447.06,2478.38,2444.63,158073244.0,sh000001,False,False,True,False,True,NaN,True,NaN
755,2013-02-18,2441.91,2421.56,2444.80,2415.43,116174994.0,sh000001,False,False,True,False,True,NaN,True,NaN
822,2013-05-29,2323.54,2324.02,2334.33,2321.17,125250729.0,sh000001,False,False,True,False,True,NaN,True,NaN
895,2013-09-12,2236.17,2255.60,2270.27,2226.29,209715110.0,sh000001,False,False,True,False,True,NaN,True,NaN
947,2013-12-04,2219.97,2251.76,2260.87,2215.92,157292943.0,sh000001,False,False,True,False,True,NaN,True,NaN
997,2014-02-20,2152.89,2138.78,2177.98,2136.48,157052276.0,sh000001,False,False,True,False,True,NaN,True,NaN
1031,2014-04-10,2105.88,2134.30,2146.67,2098.08,156789609.0,sh000001,False,False,True,False,True,NaN,True,NaN
1052,2014-05-13,2055.08,2050.73,2061.06,2043.55,97223388.0,sh000001,False,False,True,False,True,NaN,True,NaN
1152,2014-10-09,2383.86,2389.37,2391.35,2367.11,235920010.0,sh000001,False,False,True,False,True,NaN,True,NaN
1319,2015-06-12,5143.34,5166.35,5178.19,5103.40,625627854.0,sh000001,False,False,True,False,True,NaN,True,NaN
1423,2015-11-17,3629.98,3604.79,3678.27,3598.07,383575468.0,sh000001,False,False,True,False,True,NaN,True,NaN
1449,2015-12-23,3653.28,3636.09,3684.57,3633.02,298201801.0,sh000001,False,False,True,False,True,NaN,True,NaN
1522,2016-04-13,3041.36,3066.64,3097.16,3041.36,310003246.0,sh000001,False,False,True,False,True,NaN,True,NaN
1608,2016-08-16,3130.53,3110.04,3140.44,3102.07,278328934.0,sh000001,False,False,True,False,True,NaN,True,NaN
1676,2016-11-29,3269.23,3282.92,3301.21,3263.40,320836287.0,sh000001,False,False,True,False,True,NaN,True,NaN
1761,2017-04-07,3280.62,3286.62,3295.19,3275.05,236108942.0,sh000001,False,False,True,False,True,NaN,True,NaN
1872,2017-09-14,3383.47,3371.43,3391.64,3361.33,221306487.0,sh000001,False,False,True,False,True,NaN,True,NaN
1884,2017-10-09,3403.25,3374.38,3410.17,3366.97,191736057.0,sh000001,False,False,True,False,True,NaN,True,NaN
1963,2018-01-29,3563.64,3523.00,3587.03,3510.27,236026965.0,sh000001,False,False,True,False,True,NaN,True,NaN
2008,2018-04-11,3197.37,3208.08,3220.85,3191.59,175867197.0,sh000001,False,False,True,False,True,NaN,True,NaN

In [142]:
temp_data = temp[ temp['first_high'] == True ]
index = (temp_data.high >= temp_data.high.shift(1) ) & (temp_data.high >= temp_data.high.shift(-1) )

In [143]:
temp_data = temp[ temp['first_low'] == True ]
index1 = (temp_data.low <= temp_data.low.shift(1) ) & (temp_data.low <= temp_data.low.shift(-1) )

In [144]:
temp['second_high'] = index
temp['second_low'] = index1

In [150]:
temp_data = temp[ temp['second_high'] == True ]
index = (temp_data.high >= temp_data.high.shift(1) ) & (temp_data.high >= temp_data.high.shift(-1) )

In [151]:
temp_data = temp[ temp['second_low'] == True ]
index1 = (temp_data.low <= temp_data.low.shift(1) ) & (temp_data.low <= temp_data.low.shift(-1) )

In [152]:
temp['third_high'] = index
temp['third_low'] = index1

In [164]:
num = len(temp_high)
print(num)

385

In [175]:
s1 = temp_high['date']

In [178]:
s1.iat[0]

'2010-01-06'

In [180]:
temp_high = temp[ temp['third_high'] == True ]

num = len(temp_high)
for i in range(num):
    print(" %s 形成股票高点,最高点为 %d" % (temp_high['date'].iat[i], temp_high['high'].iat[i]))
    #print(s1.iat[0] + "形成股票高点,最高点为" + (temp_high.high[i]))

 2010-04-15 形成股票高点,最高点为 3181
 2010-11-11 形成股票高点,最高点为 3186
 2011-04-18 形成股票高点,最高点为 3067
 2011-07-18 形成股票高点,最高点为 2826
 2011-11-04 形成股票高点,最高点为 2536
 2012-02-27 形成股票高点,最高点为 2478
 2013-02-18 形成股票高点,最高点为 2444
 2013-05-29 形成股票高点,最高点为 2334
 2013-09-12 形成股票高点,最高点为 2270
 2013-12-04 形成股票高点,最高点为 2260
 2014-02-20 形成股票高点,最高点为 2177
 2014-04-10 形成股票高点,最高点为 2146
 2014-05-13 形成股票高点,最高点为 2061
 2014-10-09 形成股票高点,最高点为 2391
 2015-06-12 形成股票高点,最高点为 5178
 2015-11-17 形成股票高点,最高点为 3678
 2015-12-23 形成股票高点,最高点为 3684
 2016-04-13 形成股票高点,最高点为 3097
 2016-08-16 形成股票高点,最高点为 3140
 2016-11-29 形成股票高点,最高点为 3301
 2017-04-07 形成股票高点,最高点为 3295
 2017-09-14 形成股票高点,最高点为 3391
 2017-10-09 形成股票高点,最高点为 3410
 2018-01-29 形成股票高点,最高点为 3587
 2018-04-11 形成股票高点,最高点为 3220

In [156]:
temp_high

,date,open,close,high,low,volume,code,neiyiri,waiyiri,first_high,first_low,second_high,second_low,third_high,third_low
2,2010-01-06,3277.517,3254.215,3295.87,3253.04,123651384.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
5,2010-01-11,3301.611,3212.750,3306.75,3197.33,136327216.0,sh000001,False,False,True,False,True,NaN,False,NaN
11,2010-01-19,3242.216,3246.874,3268.81,3236.84,129943532.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
19,2010-01-29,2979.743,2989.292,3024.85,2968.45,80475875.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
23,2010-02-04,2983.050,2995.308,3015.13,2968.68,99918364.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
30,2010-02-22,3016.703,3003.398,3026.66,3002.81,68505143.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
38,2010-03-04,3098.069,3023.373,3102.40,3016.22,126383889.0,sh000001,False,False,True,False,True,NaN,False,NaN
42,2010-03-10,3067.150,3048.927,3085.99,3034.74,84612953.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
50,2010-03-22,3069.660,3074.576,3083.34,3061.76,96499411.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
56,2010-03-30,3123.832,3128.468,3132.58,3113.77,102431515.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
60,2010-04-06,3170.612,3158.681,3177.97,3141.93,116814703.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
67,2010-04-15,3168.139,3164.966,3181.66,3135.99,106263908.0,sh000001,False,False,True,False,True,NaN,True,NaN
71,2010-04-21,2984.618,3033.278,3034.33,2972.10,116308514.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
77,2010-04-29,2912.196,2869.139,2928.93,2867.94,89344434.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
84,2010-05-11,2745.604,2647.574,2751.07,2638.53,87897107.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
87,2010-05-14,2692.096,2696.629,2712.86,2677.19,73368024.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
90,2010-05-19,2581.630,2587.807,2623.96,2554.98,71372186.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
93,2010-05-24,2596.318,2673.423,2680.49,2596.32,112497272.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
97,2010-05-28,2680.403,2655.767,2686.54,2641.41,86947998.0,sh000001,False,False,True,False,True,NaN,False,NaN
101,2010-06-03,2575.770,2552.656,2596.14,2551.53,69502328.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
108,2010-06-17,2588.965,2560.245,2595.51,2559.72,54957039.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
111,2010-06-22,2579.631,2588.698,2598.35,2572.96,63681459.0,sh000001,False,False,True,False,True,NaN,False,NaN
125,2010-07-12,2468.540,2490.720,2501.02,2455.81,82922349.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
127,2010-07-14,2456.103,2470.440,2494.59,2456.10,72946145.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
138,2010-07-29,2635.048,2648.116,2656.41,2623.94,139123605.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
141,2010-08-03,2678.791,2627.002,2681.79,2626.72,127971094.0,sh000001,False,False,True,False,True,NaN,False,NaN
145,2010-08-09,2656.360,2672.530,2676.09,2650.40,119964750.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
153,2010-08-19,2669.431,2687.979,2701.93,2659.30,128441613.0,sh000001,False,False,True,False,True,NaN,False,NaN
156,2010-08-24,2636.532,2650.307,2667.17,2614.56,107243639.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
166,2010-09-07,2698.220,2698.360,2704.93,2679.02,112231539.0,sh000001,False,False,True,False,True,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,2017-11-14,3446.550,3429.550,3450.49,3419.69,196472674.0,sh000001,False,False,True,False,True,NaN,False,NaN
1916,2017-11-22,3417.330,3430.460,3442.18,3404.29,213567093.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1921,2017-11-29,3335.570,3337.860,3343.06,3305.57,183805932.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1929,2017-12-11,3290.490,3322.200,3322.67,3288.29,131965984.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1932,2017-12-14,3302.930,3292.440,3309.53,3282.57,120544235.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1939,2017-12-25,3296.210,3280.460,3312.30,3270.44,146893635.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1953,2018-01-15,3428.950,3410.490,3442.50,3402.31,232009283.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1963,2018-01-29,3563.640,3523.000,3587.03,3510.27,236026965.0,sh000001,False,False,True,False,True,NaN,True,NaN
1968,2018-02-05,3411.670,3487.500,3487.72,3406.24,217673754.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1974,2018-02-13,3176.110,3184.960,3219.22,3176.11,151527597.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1978,2018-02-26,3307.290,3329.570,3335.99,3281.61,188568602.0,sh000001,False,False,True,False,True,NaN,False,NaN
1985,2018-03-07,3288.860,3271.670,3308.41,3264.76,168665019.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1989,2018-03-13,3324.120,3310.240,3333.88,3307.38,177114353.0,sh000001,False,False,True,False,True,NaN,False,NaN
1992,2018-03-16,3290.210,3269.880,3300.57,3269.28,141203647.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
1995,2018-03-21,3299.730,3280.950,3314.21,3268.88,168398277.0,sh000001,False,False,True,False,True,NaN,False,NaN
1999,2018-03-27,3164.800,3166.650,3172.78,3143.57,189073383.0,sh000001,False,True,True,False,False,NaN,NaN,NaN
2003,2018-04-02,3169.780,3163.180,3192.34,3159.99,177727777.0,sh000001,False,False,True,False,True,NaN,False,NaN
2005,2018-04-04,3147.050,3131.110,3163.34,3128.87,146976682.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2008,2018-04-11,3197.370,3208.080,3220.85,3191.59,175867197.0,sh000001,False,False,True,False,True,NaN,True,NaN
2014,2018-04-19,3094.270,3117.380,3127.44,3090.29,160056805.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2017,2018-04-24,3069.750,3128.930,3136.04,3069.75,162274806.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2030,2018-05-15,3180.420,3192.120,3192.81,3164.52,124549051.0,sh000001,False,True,True,False,False,NaN,NaN,NaN
2034,2018-05-21,3206.180,3213.840,3219.74,3203.34,164459413.0,sh000001,False,False,True,False,True,NaN,False,NaN
2047,2018-06-07,3121.180,3109.500,3128.72,3105.58,127784970.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2050,2018-06-12,3053.030,3079.800,3081.45,3034.10,113275096.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2058,2018-06-25,2903.450,2859.340,2908.62,2857.87,121917687.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2060,2018-06-27,2842.400,2813.180,2854.26,2798.80,129420833.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2062,2018-06-29,2789.810,2847.420,2848.37,2782.38,125671685.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2065,2018-07-04,2776.630,2759.130,2793.18,2754.16,123262181.0,sh000001,False,False,True,False,False,NaN,NaN,NaN
2069,2018-07-10,2819.710,2827.630,2828.49,2800.62,117062748.0,sh000001,False,False,True,False,False,NaN,NaN,NaN

In [186]:
temp_data = temp[ (temp['third_high'] == True)  | (temp['third_low'] == True) ]

In [187]:
num = len(temp_data)
for i in range(1,num):
    if temp_data['third_high'].iat[i] == True and temp_data['third_high'].iat[i-1] == True:
        print("%s 连续两个高点" % temp_data['date'].iat[i])
    
    if temp_data['third_low'].iat[i] == True and temp_data['third_low'].iat[i-1] == True:
        print("%s 连续两个低点" % temp_data['date'].iat[i])
    
    if temp_data['third_high'].iat[i] == True and temp_data['third_low'].iat[i] == True:
        print("%s 同时出现高低点" % temp_data['date'].iat[i])

2010-07-02 连续两个低点
2010-08-13 连续两个低点
2011-07-18 连续两个高点
2012-12-04 连续两个低点
2013-12-04 连续两个高点
2014-05-13 连续两个高点
2015-02-09 连续两个低点
2015-08-26 连续两个低点
2015-12-23 连续两个高点
2016-06-24 连续两个低点
2016-08-01 连续两个低点
2017-08-11 连续两个低点
2017-10-09 连续两个高点

In [189]:
num = len(temp_data)
for i in range(num):
    if temp_data['third_high'].iat[i] == True:
        print("%s 出现高点" % temp_data['date'].iat[i])
    if temp_data['third_low'].iat[i] == True:
        print("%s 出现低点" % temp_data['date'].iat[i])

2010-02-03 出现低点
2010-04-15 出现高点
2010-05-21 出现低点
2010-07-02 出现低点
2010-08-13 出现低点
2010-11-11 出现高点
2011-01-25 出现低点
2011-04-18 出现高点
2011-07-18 出现高点
2011-08-09 出现低点
2011-11-04 出现高点
2012-01-06 出现低点
2012-02-27 出现高点
2012-09-26 出现低点
2012-12-04 出现低点
2013-02-18 出现高点
2013-05-02 出现低点
2013-05-29 出现高点
2013-06-25 出现低点
2013-09-12 出现高点
2013-12-04 出现高点
2014-01-20 出现低点
2014-02-20 出现高点
2014-03-12 出现低点
2014-04-10 出现高点
2014-05-13 出现高点
2014-05-21 出现低点
2014-10-09 出现高点
2014-10-27 出现低点
2015-02-09 出现低点
2015-06-12 出现高点
2015-07-09 出现低点
2015-08-26 出现低点
2015-11-17 出现高点
2015-12-23 出现高点
2016-01-27 出现低点
2016-04-13 出现高点
2016-05-26 出现低点
2016-06-24 出现低点
2016-08-01 出现低点
2016-08-16 出现高点
2016-09-27 出现低点
2016-11-29 出现高点
2017-01-16 出现低点
2017-04-07 出现高点
2017-05-11 出现低点
2017-08-11 出现低点
2017-09-14 出现高点
2017-10-09 出现高点
2017-12-18 出现低点
2018-01-29 出现高点
2018-02-09 出现低点
2018-04-11 出现高点